<!DOCTYPE html>

<!--
Designed and developed by:
┌─┐┌─┐┌─┐┌─┐┬─┐  ┌─┐┌┬┐┌─┐┬─┐┌─┐
│ │└─┐│  ├─┤├┬┘  │ │ │ ├┤ ├┬┘│ │
└─┘└─┘└─┘┴ ┴┴└─  └─┘ ┴ └─┘┴└─└─┘
https://oscarotero.com
-->

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{title}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="{{author}}">
        <meta name="title" content="{{title}}">
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="{{keywords}}">

        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="{{url 'jquery.png'}}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{twitter}}">
        <meta name="twitter:creator" content="{{twitter}}">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="{{url 'jquery.png'}}">

        <link rel="stylesheet" href="{{css 'styles.css'}}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{css 'styles-print.css'}}" type="text/css" media="print">
        <link rel="stylesheet" href="{{css 'hint.min.css'}}" type="text/css" media="screen">
        <script type="text/javascript" src="{{js 'main.js'}}"></script>
        <script>
          if (document.childNodes[1].nodeType === 8) {
            console.log(document.childNodes[1].nodeValue);
          }
        </script>
    </head>

    <body>
        <header class="main-header">
            <h1>
                <strong><a href="http://jquery.com/" title="jQuery官网">jQuery</a></strong>
                API速查文档
            </h1>

            <div class="filter-group">
                <div class="filter-version">
                    <select id="version" data-placeholder="版本...">
                        {{#each (reverse versions)}}
                        <option data-source="{{this.source}}" value="{{this.value}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="filter-search">
                    <select id="search" placeholder="搜索API...">
                        <option></option>

                        {{#*inline "option"}}
                        {{#each section.sections}}
                            {{#each this.items}}
                                <option data-data="{{itemOptionData ../../section.slug}}" value="{{this.doc}}">{{this.text}}{{section.slug}}</option>
                            {{/each}}
                        {{/each}}
                        {{/inline}}

                        {{>option section=selectors}}
                        {{>option section=attributes}}
                        {{>option section=manipulation}}
                        {{>option section=traversing}}
                        {{>option section=events}}
                        {{>option section=effects}}
                        {{>option section=ajax}}
                        {{>option section=core}}
                    </select>
                </div>
            </div>

            <a class="about" href="#about" id="about-link">首选项...</a>
        </header>

        {{#*inline "article"}}
        <article id="{{article.slug}}" class="{{article.slug}}">
            <h1>{{article.title}}</h1>

            <div>
                <div>
                {{#*inline "section"}}
                <section>
                    <h2>{{this.title}}</h2>

                    <ul>
                        {{#each this.items}}
                        <li>
                            <a class="{{itemClass}} hint--bottom-right hint--medium hint--rounded" aria-label="{{this.title}}" href="http://www.jquery123.com/{{this.doc}}/" data-src="{{this.src}}">
                                {{this.text}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </section>
                {{/inline}}

                {{#each article.sections}}
                    {{#if this.break}}
                        </div><div>
                    {{/if}}

                    {{>section}}
                {{/each}}
                </div>
            </div>
        </article>
        {{/inline}}

        <div class="main-content ly-vertical">
            {{>article article=selectors}}
            {{>article article=attributes}}
            {{>article article=manipulation}}
            {{>article article=traversing}}
            {{>article article=events}}
            {{>article article=effects}}
            {{>article article=ajax}}
            {{>article article=core}}
        </div>

        <div id="about" class="mfp-hide">
            <!-- <fieldset>
                <h4>链接打开方式:</h4>
                <label><input type="radio" name="open_links" value="modal-window"> Modal window</label>
                <label><input type="radio" name="open_links" value="new-window"> New window</label>
                <label><input type="radio" name="open_links" value="same-window"> Same window</label>
            </fieldset> -->

            <fieldset>
                <h4>页面布局:</h4>
                <label><input type="radio" name="layout" value="horizontal"> Horizontal</label>
                <label><input type="radio" name="layout" value="vertical"> Vertical</label>
            </fieldset>

            <p><a href="https://github.com/wilon/jquery-cheatsheet" target="_blank">中文版</a>&nbsp;Forked from <a href="https://github.com/oscarotero/jquery-cheatsheet" target="_blank">源码</a> <br>原作者 <a href="https://twitter.com/misteroom" target="_blank">@misteroom</a></p>
        </div>

        <div id="modal" class="mfp-hide">
            <ul>
                <li class="link-api"><a href="">API doc</a></li>
                <li class="link-src"><a href="http://james.padolsey.com/jquery/" target="_blank">Source viewer</a></li>
            </ul>
            <div>
                <iframe src="about:blank"></iframe>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        var _hmt = _hmt || []; (function() {var hm = document.createElement("script"); hm.src = "//hm.baidu.com/hm.js?0435db52f55373800840f04657369845"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })();
    </script>
</html>
